*{
    padding: 0;
    margin: 0;
}


body
{
    font-family: Segoe UI Emoji;
    filter: brightness(100%)
}



.warn{
    position: absolute;
    top: -43px;
    left: 40vw;
    width: 270px;
    height:32px;
    padding-top: 10px;
    background: orangered;
    text-align: center;
    justify-content: center;
    color: white;
    transition: top .3s ease-out;
}


.top_nav
{
    height: 120px;
    width: 100%;
    background-color: rgb(120 116 116);
    background-blend-mode: normal;
    box-shadow: 0px 2px 4px rgb(100, 100, 100);
    z-index: 10;
}
.topUl
{
    float: right;
    display: flex;
    height: inherit;
    width: 500px;
    background-color: transparent;
    list-style-type: none;
}

.topUl > li
{
    width: 100px;
    margin-right: 10px;
    height: 40px;
    padding-top: 80px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
    transition: .2s all ease-out;
}
.topUl > li:hover
{
    background-color:transparent;
    cursor: pointer;
}
.topUl > li:hover span
{
    color: rgb(88, 13, 13);
    font-weight: 600;
}

.current
{
    background: rgb(88, 13, 13);
}

.body
{
    /* display: flex; */
    width: 100%;
    height: 490px;
    /* min-width: 900px; */

}











.body_nav
{
    float:left;
    width: 270px;
    height: 100%;
    background: rgb(155 151 157);
}
.body_nav::before
{
    content: '';
    position: absolute;
    top:120px;
    left:29px;
    width: 50px;
    height: 50px;
    background: #858181;
    border-radius: 50%;
    
}
.body_nav::after
{
    content: '';
    position: absolute;
    top:170px;
    left:54px;
    width: 0;
    height: 400px;
    border: 0.5px solid #858181;
    
}
.body_nav > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}
.body_nav li 
{
    width: 65%;
    height: 50px;
    padding: 0 0 0 10%;
    margin: 0 0 0 20%;
    border-bottom: 1px solid #858181;
    cursor: pointer;
    font-weight: 600;
    transition: 0s all ease-in;
}
.body_nav>ul>li:hover
{
    width: 70%;
    background-color: #787474;
}

.body_nav .li {
    position: absolute;
    top: 16.5%;
    left:20px;
    width: 195px;
    padding-left: 27px;
    margin-left: 34px;
    background-color: #858181;
    border:0;
}





.body_main
{
    display: flex;
}
.create_matrix
{
    display: block;
    width: 270px;
    height: 315px;
    background: rgb(155 151 157);
    margin: 50px 0 50px 50px;
}
.create_matrix input
{
    text-align: center;
    width: 35px;
    height: 23px;
    border: none;
    outline: none;
    background-color: #ccd9e4;
    border-radius: 5%;
}
.create_matrix h5
{
    position: relative;
    top: -3px;
    left: 10px;
    font-size: larger;
    transition: .04s all linear
}
.create_matrix .request
{
    width: 50%;
    height: fit-content;
    margin: auto;
    font-family: 'Inter';
    font-size: 1.2em;
    
}
.request div{
    justify-content: space-between;
    width: max-content;
    height: fit-content;
    margin-top: 10px;
}
.create_matrix:hover h5{
    top: -20px;
    color:rgb(46, 45, 45)
}
.create_matrix .prototype_matrix
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    width: 150px;
    margin: 10px 0 20px 40px;
    padding: 10px 0 0 10px;
    background-color: rgb(180, 151, 180);
    border-radius: 4%;
}
.create_matrix .submit{
    display: block;
    width: max-content;
    height: fit-content;
}
.create_matrix .btn
{
    position: relative;
    width: 80px ;
    height: 40px;
    background:#ccd9e4;
    border: none;
    border-radius: 5%;
    margin: auto;
    margin-left: 15px;
    left:20px; 
    transition: all .1s ease-out;
}
.create_matrix .btn:active{
    filter: brightness(70%);
}

.board
{
    display: flex;
    width: 550px;
    height: 200px;
    border: 3px solid rgb(196, 188, 188);
    background: rgb(225 223 223);
    margin: 50px 0 0 60px;
}

.board .span
{
    position: relative;
    top: -3px ;
    left: 10px;
    width:3%;
    height: 30px;
    transition: .1s all ease-out;
}
.board:hover .span{
    top:-20px;
    font-weight: 600;
}
.board div
{
    /* transform: translateY(-10px); */
    height: 70%;
    margin: auto;
    z-index: 3;
}
.question{
    width: 60%;
}
.solution{
    width: 30%;
}
.operation{
    width: 100%;
    height: 140px;
}

.container
{
    display: flex;
    position:absolute;
    bottom:0;
    left: 20%;
    height: 140px;
    width: fit-content;
    max-width: 80%;
    background-color: rgb(70 67 67);
}
.matrix
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90px;
    height: 90px;
    margin: 20px;
    padding:5px;
    border-radius: 3%;
    background: rgb(180, 151, 180);
    text-align: center;
}
.matrix  li{
    list-style-type: none;
    height:30px;
}
.checkbox
{
    position: relative;
    top: -115px;
    left: -28px;
    background-color: black;
    border: 0.5px solid white;
    border-radius: 50%;
}
.checkbox:active
{
    background-color: white;
    border-color: black;
}
.field_box
{
    position: relative;
    top: -110px;
    left: -20px;
    background-color: black;
    border: 0.5px solid white;
    border-radius: 50%;
}
.field_box:active
{
    background-color: white;
    border-color: black;
}


.b
{
    display: flex;
}
.operation
{
    display:none;
}

.operate
{
    list-style-type: none;
    transform: translate(30px, 30px);
    width: fit-content;
    height: 20px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: rgb(0 0 0 / 88%);
    padding: 0 2px 3px 2px;
    border-radius: 7%;
    list-style-type: none;
    background: rgb(180, 151, 180);

}
.sign
{
    position: relative;
    top: 50%;
    left: 0;
    width: 20px; 
    height: 20px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: rgb(0 0 0 / 88%);
    padding: 0 2px 3px 2px;
    border-radius: 7%;
    list-style-type: none;
    background: rgb(180, 151, 180);

}
.equal_sign
{
    position: relative;
    left: 45%;
    width: 20px;
    height: 20px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: rgb(0 0 0 / 88%);
    padding: 0 2px 3px 2px;
    border-radius: 7%;
    background: rgb(180, 151, 180);
}
